<div class="ag-playground__header">
    {{'PLAYGROUND.HEADER' | translate}}
    <a class="ag-playground__header-return-link" routerLink="/home" href="">return</a>
</div>
<div class="ag-playground__options" style="color: white">
    <ag-playground-form></ag-playground-form>
</div>
<div class="ag-playground__gallery-container" #galleryContainer>
    <ag-gallery [styles]="styles$ | async"
                [loadCount]="loadCount || 6"
                [urls]="urls$ | async"
                [isRandomSized]="true"
                [numberOfImagesOnStart]="initialNumberOfImages$ | async"
                [galleryHeight]="'700px'"
                containerClass="ag-playground__gallery-container">
    </ag-gallery>

</div>
