<div>
    <form [formGroup]="userInputForm"
          (ngSubmit)="submit()"
          class="ag-playground-form">
        <div class="ag-playground-form__interval">
            <mat-form-field class="ag-playground-form__interval-field">
                <input type="text" matInput
                       [formControlName]="userInputEnum.X_INTERVAL"
                       placeholder="x-Interval:"
                       autocomplete="off">
                <span matSuffix>px</span>
            </mat-form-field>

            <mat-form-field class="ag-playground-form__interval-field">
                <input type="text" matInput
                       [formControlName]="userInputEnum.Y_INTERVAL"
                       placeholder="y-Interval:"
                       autocomplete="off">
                <span matSuffix>px</span>
            </mat-form-field>
        </div>
        <div class="ag-playground-form__dimensions">
            <mat-form-field class="ag-playground-form__dimensions-field">
                <input type="text" matInput
                       [formControlName]="userInputEnum.MIN_IMG_WIDTH"
                       placeholder="Min image width:"
                       autocomplete="off">
                <span matSuffix>px</span>
            </mat-form-field>
            <mat-form-field class="ag-playground-form__dimensions-field">
                <input type="text" matInput
                       [formControlName]="userInputEnum.ROW_HEIGHT"
                       placeholder="Image Height:"
                       autocomplete="off">
                <span matSuffix>px</span>
            </mat-form-field>
        </div>
        <ag-animation-examples [formControlName]="userInputEnum.ANIMATION"></ag-animation-examples>

        <mat-form-field class="ag-playground-form__border-radius-field">
            <input type="number" matInput
                   step="0.5"
                   [formControlName]="userInputEnum.BORDER_RADIUS"
                   placeholder="Border radius:"
                   autocomplete="off">
            <span matSuffix>sec</span>
        </mat-form-field>

        <div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <mat-select [formControlName]="userInputEnum.FILTER"
                            [compareWith]="compareWithFunction">
                    <mat-option>{{'PLAYGROUND.NONE' | translate}}</mat-option>
                    <mat-option *ngFor="let filter of filters" [value]="filter.value">{{filter.label | translate}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button type="submit">Submit</button>
            <button type="button" (click)="reset()">Reset</button>
        </div>
    </form>
</div>
