@import '~src/assets/styles/colors';
@import '~src/assets/styles/fonts';

:host {
  display: grid;

  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(12, 1fr);

  overflow: hidden;
  height: 280px;

  .ag-gallery-thumbnail {
    &__index {
      grid-row: 3 / span 3;
      grid-column: -2;
      text-align: center;
      margin: auto;
      font-size: 3em;
      font-family: #ag-fonts[header-font-family];
    }

    &__img {
      grid-row: 1 / span 6;
      grid-column: 1 / span 3;

      background-position: center;
      background-size: cover;


      padding: 7px;
      z-index: 1;
    }

    &__description {
      grid-row: 3 / span 3;
      grid-column: 2 / span 10;

      display: grid;
      grid-template-areas:
              ". h h p p"
              ". h h p p";

      cursor: pointer;
      background-color: rgba(14, 14, 14, 0.7);
      box-shadow: 0px 0px 25px #ag-colors[textSecondary];

      z-index: 2;

      &:hover {
        box-shadow: 0px 0px 25px #ag-colors[textPrimary];
      }

      &-header {
        grid-area: h;
        font-size: 2em;
        font-family: #ag-fonts[header-font-family];

        margin: auto;
      }

      &-props {
        grid-area: p;

        display: grid;
        grid-template-columns: repeat(2, minmax(max-content, 1fr));

        font-size: 1em;
        background-color: black;

        font-family: #ag-fonts[header-font-family];
        padding: 15px;

        &-header {
          margin-bottom: 10px;
        }

        &-value {
          font-size: medium;
          color: #ag-colors[textSecondary];
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  :host {
    display: grid;

    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(12, 1fr);

    .ag-gallery-thumbnail {
      &__description {
        box-shadow: 0px 0px 40px #ag-colors[textPrimary];
        background-color: rgba(14, 14, 14, 0.7);

        display: grid;

        grid-template-areas:
                "h h h p"
                "h h h p";
        &-header {
          grid-row: 1 / span 2;

          padding-right: 10px;
          padding-left: 10px;
        }
      }

      &__img {
        grid-row: 1 / span 4;
        grid-column: 5 / span 4;
      }
    }

  }

}

@media (max-width: 800px) {
  :host {
    display: grid;

    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 50px 50px 1fr 50px 50px;

    .ag-gallery-thumbnail {
      &__description {
        box-shadow: 0px 0px 40px #ag-colors[textPrimary];
        background-color: rgba(14, 14, 14, 0.7);

        grid-column: 2 / span 3;
      }

      &__img {
        grid-row: 1 / span 6;
        grid-column: 3;
        max-width: 700px;
      }
    }

  }
}
@media (max-width: 600px) {
  :host {
    display: grid;

    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 50px 50px 1fr 50px 50px;

    .ag-gallery-thumbnail {
      padding: 10px;

      &__description {
        box-shadow: 0px 0px 40px #ag-colors[textPrimary];
        background-color: rgba(14, 14, 14, 0.7);

        grid-column: 1 / span 6;
      }

      &__img {
        grid-column: 2 / span 3;
      }
    }

  }

}