:host {
  display: grid;

  grid-template-rows: repeat(6, 50px);
  grid-template-columns: repeat(12, 1fr);

  height: 280px;

  .ag-gallery-thumbnail {
    &__img {
      grid-row: 1 / span 6;
      grid-column: 1 / span 3;

      background-image: url('../../../../../../../assets/img/gallery-thumbnails/thumbnail.png');
      background-position: center;
      background-size: cover;

      padding: 7px;

      // background-color: #686868;

      max-width: 280px;
      z-index: 1;
    }
    &__description {
      grid-row: 3 / span 3;
      grid-column: 2 / span 10;

      background-color: #686868;
      z-index: 2;
    }
  }
}

