@import "../../../../../assets/styles/fonts";

:host {
  background: rgba(204, 204, 204, 0.5);

  display: grid;

  grid-template-columns: 6fr 4fr;

  .ag-tabs {
    grid-column-start: 1;
    grid-column-end: 2;

    padding-left: 100px;

    display: inline-flex;
    justify-content: left;
    align-items: center;

    font-family: #ag-fonts[sixCaps];

    &__tab {
      cursor: pointer;
      text-transform: uppercase;
      height: 100%;
      width: 150px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;

      &.ag_active {
        background-color: #171717;
      }
    }
    &__tab:hover {
      background-color: #171717;
    }
  }
}

@media (max-width: 1100px) {
  :host {
    grid-template-columns: 1fr;
    .ag-tabs {
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: center;

      padding-left: 0px;
    }
  }
}