<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Animation</mat-panel-title>
            <mat-panel-description>{{selectedAnimation}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="ag-animation-examples__container">
            <span class="ag-animation-examples__item" *ngFor="let animation of animationList; let i = index"
                  [ngStyle]="{'animation-name': i === hoveredIndex && animation, 'animation-duration': '1s', 'animation-iteration-count': 'infinite'}"
                  (click)="setAnimation(animation)"
                  (mouseenter)="hoveredIndex = i"
                  (mouseleave)="hoveredIndex = null">
                {{animation}}
            </span>
        </div>
    </mat-expansion-panel>
</mat-accordion>
