<div class="ag-gallery__container"
    [ngStyle]="styles?.container"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="20"
     [infiniteScrollContainer]="'.' + containerClass"
     [fromRoot]="true"
     (scrolled)="onScroll()"
>
    <ng-container *ngFor="let url of urlsToShow; let i = index">
        <div class="ag-gallery__img"
             [style.background-image]="'url(' + url + ')'"
             [style.background-size]="'cover'"
             [style.background-position]="'center'"
             [ngClass]="isRandomSized ? shapes[i] : null"
             [ngStyle]="styles?.img">
        </div>
    </ng-container>
</div>
