<!--<div *ngFor="let thumbnail of thumbnails">-->
    <!--<ag-thumbnail-->
        <!--class="ag_thumbnail"-->
        <!--[description]="thumbnail.description"-->
        <!--[title]="thumbnail.title"-->
    <!--&gt;</ag-thumbnail>-->
<!--</div>-->
<!--<div *ngFor="let r of thumbnails">-->
    <!--<div>{{r.description}}</div>-->
<!--</div>-->
<!--<ag-thumbnail-->
        <!--class="ag_thumbnail"-->
        <!--[description]="'ddddd'"-->
        <!--[title]="'ddddd'"-->
<!--&gt;</ag-thumbnail>-->
<!--<ag-thumbnail-->
        <!--class="ag_thumbnail"-->
        <!--[description]="'ddddd'"-->
        <!--[title]="'ddddd'"-->
<!--&gt;</ag-thumbnail>-->
<ag-header></ag-header>
<ag-navbar></ag-navbar>
<ag-search></ag-search>
<div class="gallery"></div>
