<div class="searchable">
    <h3>Database:</h3>
<pre>
angular-in-memory-web-api
</pre>
    <h3>{{'HOME.TECHNOLOGY.STORE.TITLE' | translate}}</h3>
<pre>
    {{'HOME.TECHNOLOGY.STORE.EFFECTS' | translate}},
    {{'HOME.TECHNOLOGY.STORE.ENTITY' | translate}},
    {{'HOME.TECHNOLOGY.STORE.ROUTER_STORE' | translate}},
    {{'HOME.TECHNOLOGY.STORE.SCHEMATICS' | translate}},
    {{'HOME.TECHNOLOGY.STORE.STORE' | translate}},
    {{'HOME.TECHNOLOGY.STORE.DEVTOOLS' | translate}},
</pre>

    <h3>{{'HOME.TECHNOLOGY.OBSERVABLES_HANDLING.TITLE' | translate}}</h3>
<pre>
{{'HOME.TECHNOLOGY.OBSERVABLES_HANDLING.RXJS' | translate}}
</pre>

    <h3>{{"HOME.TECHNOLOGY.LOCALIZATION.TITLE" | translate}}</h3>
<pre>
{{"HOME.TECHNOLOGY.LOCALIZATION.FIRST" | translate}}
{{"HOME.TECHNOLOGY.LOCALIZATION.SECOND" | translate}}
</pre>

    <h3>{{"HOME.TECHNOLOGY.COMPONENTS_LIB.TITLE" | translate}}</h3>
<pre>
    {{"HOME.TECHNOLOGY.COMPONENTS_LIB.MATERIAL" | translate}},
    {{"HOME.TECHNOLOGY.COMPONENTS_LIB.CDK" | translate}}
</pre>

    <h3>{{"HOME.TECHNOLOGY.INFINITE_SCROLL" | translate}}</h3>
<pre>
<span>"ngx-infinite-scroll": "^7.2.0",</span>
</pre>

</div>
