<h3>Database:</h3>
<pre>
    angular-in-memory-web-api
</pre>

<h3>Store:</h3>
<pre>
    "@ngrx/effects": "^8.0.1",
    "@ngrx/entity": "^8.0.1",
    "@ngrx/router-store": "^8.0.1",
    "@ngrx/schematics": "^8.0.1",
    "@ngrx/store": "^8.0.1",
    "@ngrx/store-devtools": "^8.0.1"
</pre>

<h3>Observables handling:</h3>
<pre>
    "rxjs": "~6.4.0"
</pre>

<h3>Localization:</h3>
<pre>
    "@ngx-translate/core": "^11.0.1",
    "@ngx-translate/http-loader": "^4.0.0",
</pre>

<h3>Components lib:</h3>
<pre>
    "@angular/material": "^8.0.1"
</pre>



