@agStylesUrl: "./assets/styles";

@import "@{agStylesUrl}/keyframes.less";
@import "@{agStylesUrl}/animation/animation.less";

body {
  margin: 0px !important;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &::ng-deep .highlight {
      background-color: chartreuse;
      color: darkslategrey;
  }
}
.highlight {
  background-color: chartreuse;
  color: darkslategrey;

  animation: fadeIn 1s;
}
