<input  class="ag-search__input"
        type="text"
        [(ngModel)]="searchValue"
        placeholder="{{'SEARCH.PLACEHOLDER' | translate}}"
        (keyup.enter)="searchValue && updateSearchValue(searchValue)"
        (keyup.esc)="searchValue && clearSearchField()"
>

<div class="ag-search__cross"
     *ngIf="searchValue && searchValue.length"
     (click)="clearSearchField()">
</div>

<button class="ag-search__button"
        type="submit"
        [ngClass]="{'_disabled': !searchValue}"
        (click)="updateSearchValue(searchValue)">
    {{'SEARCH.BUTTON_NAME' | translate}}
</button>
